{:paths ["src"]
 :deps {org.clojure/clojure              {:mvn/version "1.10.1"}
        techascent/tech.jna              {:mvn/version "3.23"
                                          :exclusions [org.ow2.asm/asm]}
        ;;Ensure we have an up-to-date version of asm lib.  xgboost pulls in a very old
        ;;version and this breaks asm generation used in tech.datatype.
        org.ow2.asm/asm                  {:mvn/version "7.1"}
        ml.dmlc/xgboost4j                {:mvn/version "0.90"
                                          :exclusions [org.scala-lang/scala-library
                                                       org.scala-lang/scala-compiler
                                                       org.scala-lang/scala-reflect]}}
 :aliases {:test
           {:extra-deps {criterium {:mvn/version "0.4.5"}
                         ch.qos.logback/logback-classic {:mvn/version "1.1.3"}
                         http-kit {:mvn/version "2.3.0"}
                         techascent/tech.ml.dataset {:mvn/version "2.0-beta-56"}
                         techascent/tech.viz {:mvn/version "0.3"}}}}}
